@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Church Movie App</h1>
    <p>This app was made for those of us who really love church movies, and want to watch more. Be able to put our wishlist movies into a list we can look at later!</p>
</div>
